<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lfbl.gymglishsites">

    <uses-permission android:name="android.permission.INTERNET" />

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="false"
        android:xlargeScreens="false"
        android:largestWidthLimitDp="600"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".WebsitesActivity"
            android:parentActivityName="com.lfbl.gymglishsites.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lfbl.gymglishsites.LoginActivity"/>
        </activity>

        <activity
            android:name=".WebsiteDetailActivity"
            android:parentActivityName="com.lfbl.gymglishsites.WebsitesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lfbl.gymglishsites.WebsitesActivity"/>
        </activity>

        <!-- Content Provider -->
        <provider
            android:name="com.lfbl.gymglishsites.data.GymglishProvider"
            android:authorities="com.lfbl.gymglishsites"
            android:enabled="true"
            android:exported="false"
            android:syncable="false"/>

    </application>

</manifest>